<!DOCTYPE html>
<html>
  <head>
    <title>FCC File Metadata</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/styles.css">
  </head>
  <body>
    <h2>Submit a file to view its filesize</h2>
    <form method="post" action="/post-file/" enctype="multipart/form-data">
      <input name="input-file" type="file">
      <button>Submit</button>
    </form>
  </body>
</html>
